<div class="modal-header">
	<h3 class="modal-title">Sign In</h3>
</div>
<div class="modal-body">
	<form ng-submit-"submit()">
		<input type="email" ng-model="user.email" name="email" placeholder="Email" />
		<br>
		<input type="password" ng-model="user.password" name="password" placeholder="Password"/>
	</form>
	<br>
	<div class="alert alert-danger" ng-show="showLoginAlert">{{message}}</div>
</div>
<div class="modal-footer">
<button class="btn btn-warning" type="button" ng-click="submit()">Submit</button>
<button class="btn btn-warning" type="button" ng-click="close()">Cancel</button>
</div>