.top {
	background-color: #000;
	display: none;
	position: relative;
	z-index: 1000;
	min-height: 50px;
	margin-bottom: 20px;
	border: 1px solid transparent;
}


.top-default {
  background-color: #f8f8f8;
  border-color: #e7e7e7;
}

.top-default . {
  color: #777777;
}

.top-default .:hover,
.top-default .:focus {
  color: #5e5e5e;
  background-color: transparent;
}

.top-default .navbar-text {
  color: #777777;
}

.top-default . > li > a {
  color: #777777;
}

.top-default . > li > a:hover,
.top-default . > li > a:focus {
  color: #333333;
  background-color: transparent;
}

.top-default . > .active > a,
.top-default . > .active > a:hover,
.top-default . > .active > a:focus {
  color: #555555;
  background-color: #e7e7e7;
}

.top-default . > .disabled > a,
.top-default . > .disabled > a:hover,
.top-default . > .disabled > a:focus {
  color: #cccccc;
  background-color: transparent;
}

.top-default . {
  border-color: #dddddd;
}

.top-default .:hover,
.top-default .:focus {
  background-color: #dddddd;
}

.top-default . .icon-bar {
  background-color: #cccccc;
}

.top-default .,
.top-default . {
  border-color: #e6e6e6;
}

.top-default . > .dropdown > a:hover .caret,
.top-default . > .dropdown > a:focus .caret {
  border-top-color: #333333;
  border-bottom-color: #333333;
}

.top-default . > .open > a,
.top-default . > .open > a:hover,
.top-default . > .open > a:focus {
  color: #555555;
  background-color: #e7e7e7;
}

.top-default . > .open > a .caret,
.top-default . > .open > a:hover .caret,
.top-default . > .open > a:focus .caret {
  border-top-color: #555555;
  border-bottom-color: #555555;
}

.top-default . > .dropdown > a .caret {
  border-top-color: #777777;
  border-bottom-color: #777777;
}

@media (max-width: 767px) {
  .top-default . .open .dropdown-menu > li > a {
    color: #777777;
  }
  .top-default . .open .dropdown-menu > li > a:hover,
  .top-default . .open .dropdown-menu > li > a:focus {
    color: #333333;
    background-color: transparent;
  }
  .top-default . .open .dropdown-menu > .active > a,
  .top-default . .open .dropdown-menu > .active > a:hover,
  .top-default . .open .dropdown-menu > .active > a:focus {
    color: #555555;
    background-color: #e7e7e7;
  }
  .top-default . .open .dropdown-menu > .disabled > a,
  .top-default . .open .dropdown-menu > .disabled > a:hover,
  .top-default . .open .dropdown-menu > .disabled > a:focus {
    color: #cccccc;
    background-color: transparent;
  }
}

.top-default .navbar-link {
  color: #777777;
}

.top-default .navbar-link:hover {
  color: #333333;
}